header{
    @include flex-c-center;

    .option{
        @include flex-center;
    }
    
    ul li{
    
        list-style: none;
        margin: 0 15px;
        color: $text-blue;
    
        a{
            text-decoration: none;
        }
    
    }

}
