* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #fefefe;
}

.contenitore {
  max-width: 1200px;
  margin: auto;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header .option {
  display: flex;
  justify-content: center;
  align-items: center;
}

header ul li {
  text-transform: capitalize;
  list-style: none;
  margin: 20px 15px;
  color: #0d244b;
  padding: 10px;
}

header ul li a {
  text-decoration: none;
}

header ul li:hover {
  background-color: aqua;
}

header p {
  text-align: center;
}

main h2 {
  text-align: center;
}

main .linea-prodotti {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

main .linea-prodotti .box {
  flex-basis: calc(100% / 3);
  position: relative;
}

main .linea-prodotti .box .description {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #aa53cc;
}

main .linea-prodotti .box:hover .description {
  display: block;
}

main .linea-prodotti .box:hover img {
  opacity: 0.8;
}

main .linea-prodotti .box img {
  max-width: 100%;
}

main .evidenza {
  display: flex;
  justify-content: center;
  align-items: center;
}

main .evidenza img {
  height: 300px;
}

main .description-products {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main .description-products img {
  max-width: 100%;
}

footer {
  margin-top: 40px;
  height: 100px;
}

footer img {
  width: 100%;
}

